# Byte-code files
*.pyc
__pycache__/

# Virtual environment
venv/
env/
.venv/

# Build artifacts
build/
dist/
.eggs/
*.egg-info/

# Operating System files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite
*.db

# Configuration and secret files
.env
config.json